*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

ol,ul,li{
  list-style: none;
  list-style-type: none;
}

body{
  font-size: 12px;
  font-family: micorsofe yahei, tohoma, arial, \5b8b\4f53, sans-serif;
  line-height: 1.428;
}

.clearfix{
  *zoom: 1;
}

.clearfix:before, .clearfix:after{
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after{
  clear: both;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.container{
  width: 1170px;
  margin: 0 auto;
  padding: 60px 20px;
}

h1{
  text-align: center;
  margin-bottom: 30px;
}

dl{
  display: inline-block;
  width: 100%;
  padding: 30px;
  margin-bottom: 20px;
  background: #0633da;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  color: #fff;
  font-size: 16px;
}

dt{
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0;
  border-top: 1px solid #f80;
  padding-top: 10px;
}

strong{
  color: #f60;
}

.content{
  padding: 10px 0;
}

input{
  margin: 6px;
}

.test-checked input:checked{
  margin-right: 20px;
}

.test-checked input:disabled{
  margin-right: 100px;
  cursor: all-scroll;
}

.test-empty p:empty{
  padding: 10px;
  background: #f30;
}

.test-enabled input:disabled{
  background: #f8f8f8;
}

.test-enabled input:enabled{
  background: yellow;
}

.test-first-of-type p:first-of-type{
  color: yellow;
}

.test-first-of-type p:last-of-type{
  color: #f70;
}

.test-first-of-type li:last-child{
  background: black;
}

.test-in-range input[type="number"]:in-range{
  background: yellow;
}

.test-invalid input:invalid{
  border: 2px solid red;
}

.test-invalid input:valid{
  border: 2px solid black;
}

.test-not :not(p){
  background: #f8f8f8;
}

.test-child li:nth-child(2){
  background: black;
}

.test-child li:nth-of-type(4){
  background: yellow;
}

.test-child li:nth-last-child(3){
  background: red;
}

.test-child li:nth-last-of-type(1){
  border: 2px solid green;
}

.test-only p:only-child{
  border: 2px solid #fff;
}

.test-only p:only-of-type{
  background: black;
}

.test-optional input:optional{
  background: blue;
  border: 2px solid #fff;
  width: 200px;
  height: 50px;
}

:root{
  background: #f8f8f8;
}

.test-a li a:link{
  color: #17f3eb;
  background: #fff;
}
.test-a li a:visited{
  color: #e7fa4b;
  background: #fff;
}
.test-a li a:active{
  color: #f2bf25;
  background: #fff;
}
.test-a li a:hover{
  color: #e87c09;
  background: #fff;
}

.test-focus input:focus{
  border: 5px solid #fff;
  background: yellow;
  height: 40px;
}

.test-first p:first-letter{
  background: yellow;
}

.test-first p:first-line{
  color: #eee;
  background: red;
}

.test-before-after p:after{
  content: "add after";
  background: black;
  margin: 0 20px;
}

.test-before-after p:before{
  content: "add before";
  background: red;
  margin: 0 20px;
}

.test-lang p:lang(xx){
  background: yellow;
  color: red;
}


/*css3 part*/
.test-background{
  padding: 20px;
  background-image: url(../img/img_flwr.gif), url(../img/paper.gif);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  color: #000;
}

.test-gradient{
  padding: 30px;
  margin-bottom: 20px;
  background: linear-gradient(45deg, red, rgba(0,0,0,0.5), green);
  background: -webkit-linear-gradient(45deg, red, rgba(0,0,0,0.5), green);
  background: -moz-linear-gradient(45deg, red, rgba(0,0,0,0.5), green);
  background: -o-linear-gradient(45deg, red, rgba(0,0,0,0.5), green);
}

.test-gradient1{
  padding: 30px;
  margin-bottom: 20px;
  background: radial-gradient(circle, red, rgba(0,0,0,0.5), green);
  background: -webkit-radial-gradient(circle, red, rgba(0,0,0,0.5), green);
  background: -moz-radial-gradient(circle, red, rgba(0,0,0,0.5), green);
  background: -o-radial-gradient(circle, red, rgba(0,0,0,0.5), green);
}

.test-gradient-repeat{
  width: 400px;
  height: 400px;
  text-align: center;
  line-height: 400px;
  font-size: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  background: repeating-radial-gradient(circle, red, yellow 10%, green 15%);
  background: -webkit-repeating-radial-gradient(circle, red, yellow 10%, green 15%);
  background: -moz-repeating-radial-gradient(circle, red, yellow 10%, green 15%);
  background: -o-repeating-radial-gradient(circle, red, yellow 10%, green 15%);
}

.test-translate div{
  width: 100px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: green;
  margin: 20px;
  border: 1px solid #fff;
}

.translate:hover{
  transform-origin: 10%;
  transform: translate(30px,20px);
  -ms-transform: translate(30px,20px);/*for ie9*/
  -webkit-transform: translate(30px,20px);
}

.rotate:hover{
  transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
}

.scale-add:hover{
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
}

.scale-lose:hover{
  transform: scale(0.5,0.6);
  -ms-transform: scale(0.5,0.6);
  -webkit-transform: scale(0.5,0.6);
}

.skew:hover{
  margin-top: 30px !important;
  transform: skew(50deg,10deg);
  -ms-transform: skew(50deg,10deg);
  -webkit-transform: skew(50deg,10deg);
}

.test-translate3d div{
  width: 100px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  background: red;
  margin: 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}
.test-translate3d div.rotateX,.test-translate3d div.rotateY{
  width: 200px;
  height: 300px;
  background: none;
}
.rotateX{
  perspective:150;
  -webkit-perspective:150; /* Safari and Chrome */
}

.test-translate3d div.rotate-per:hover{
  width: 150px;
  height: 150px;
}
.test-translate3d div.rotate-perX:hover{
  transform: rotateX(420deg);
  -webkit-transform: rotateX(420deg);
}
.test-translate3d div.rotate-perY:hover{
  transform: rotateY(420deg);
  -webkit-transform: rotateY(420deg);
}

.rotateY{
  perspective:150;
  -webkit-perspective:150; /* Safari and Chrome */
}

.translate3d:hover{
  transform: translate3d(120px,50px,80px);
  -webkit-transform: translate3d(120px,50px,80px);
}

.translateX:hover{
  transform: translateX(100px);
  -webkit-transform: translateX(100px);
}
.translateY:hover{
  transform: translateY(20px);
  -webkit-transform: translateY(20px);
}
.translateZ:hover{
  transform: translateZ(100px);
  -webkit-transform: translateZ(100px);
}

.test-transiton .transiton{
  width: 100px;
  height: 60px;
  margin-bottom: 20px;
  background: yellow;
  transition: width 2s, height 2s, background 2s, transform 2s;
  -webkit-transition: width 2s, height 2s, background 2s, -webkit-transform 2s;
}

.test-transiton .transiton:hover{
  width: 200px;
  height: 100px;
  background: green;
  transform: rotate3d(0.1,0.5,0.2,60deg);
  -webkit-transform: rotate3d(0.1,0.5,0.2,60deg);
}
.test-transiton .scale3d{
  width: 100px;
  height: 60px;
  background: yellow;
  transition: transform 2s, background 1s;
  -webkit-transition: -webkit-transform 2s, background 1s;
}
.test-transiton .scale3d:hover{
  background: green;
  transform: scale3d(2,1.5,1) rotateX(360deg);
  -webkit-transform: scale3d(2,1.5,1) rotateX(360deg);
}

.test-animation{
  width: 200px;
  height: 100px;
  background: yellow;
  margin: 20px;
  animation: animation-first 5s linear 1s infinite alternate running;
  -webkit-animation: animation-first 5s linear 1s infinite alternate running;
  animation-iteration-count: 3;
  -webkit-animation-iteration-count: 3;
}

@keyframes animation-first{
  0%{
    width: 200px;
    background: yellow;
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
  }
  25%{
    width: 100px;
    background: red;
    transform: translate(20px,0);
    -webkit-transform: translate(20px,0);
  }
  50%{
    width: 60px;
    background: green;
    transform: translate(120px,100px);
    -webkit-transform: translate(120px,100px);
  }
  100%{
    width: 200px;
    background: black;
    transform: translate(220px,20px);
    -webkit-transform: translate(220px,20px);
  }
}

.test-animation2{
  position: relative;
  width: 100px;
  height: 100px;
  margin: 20px;
  background: #b9ef15;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  animation-name: second-animation;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-play-state: running;
  -webkit-animation-name: second-animation;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}

@keyframes second-animation{
  0%{
    background: #b9ef15;
    transform: rotate(0deg);
    left: 0px;
    color: #fff;
  }
  25%{
    background: #3ad6f2;
    transform: rotate(30deg);
    left: 0px;
    color: red;
  }
  50%{
    background: #3ad6f2;
    transform: rotate(0);
    left: 600px;
    color: blue;
  }
  60%{
    background: #3ad6f2;
    transform: rotate(0);
    left: 600px;
    color: green;
  }
  100%{
    background: #b9ef15;
    transform: rotate(-360deg);
    left: 0px;
    color: #fff;
  }
}

div{
/*  transition: transform 2s ease-in-out;
  -webkit-transition: -webkit-transform 2s ease-in-out;*/
  transition-property: transform;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 0.5s;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 0.5s;
}

.test-column{
  /*规定分割列数*/
/*  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;*/
  /*列之间的间隔*/
  column-gap: 40px;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  /*列边框*/
  column-rule: 1px dotted #fff;
  -webkit-column-rule: 1px dotted #fff;
  -moz-column-rule: 1px dotted #fff;
  /*列的宽度*/
  column-width: 100px;
  -webkit-column-width: 100px;

  /*注意：column-count和column-width是相互冲突的*/
}

.test-column h2{
  /*指定元素跨越多少列 值只能是1或者all*/
  column-span: all;
}

.test-box{
  width: 200px;
  padding: 40px;
  margin: 10px;
  border: 20px solid red;
  float: left;
}

.test-box1{
  box-sizing: content-box;
}

.test-box2{
  box-sizing: border-box;
}

.test-resize{
  width: 200px;
  padding: 30px;
  border: 2px solid #fff;
  resize: both;
  overflow: auto;
}

.test-outline{
  width: 200px;
  height: 100px;
  border: 5px solid #fff;
  outline: 5px dotted red;
  outline-offset: 10px;
}

.test-img{
  background: #fff;
  padding: 30px;
}

.test-img-shadow{
  background: #f8f8f8;
  text-align: center;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.test-img-shadow p{
  color: black;
  padding: 20px;
  font-size: 20px;
}

.test-blur{
  margin: 20px;
  filter: blur(20px);
  -webkit-filter: blur(2px);
}

.test-button{
  position: relative;
  width: 200px;
  height: 60px;
  line-height: 40px;
  background: green;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 30px;
  text-align: center;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  overflow: hidden;
}

.test-button:after{
  content: "";
  background: #90EE90;
  display: block;
  width: 800px;
  height: 600px;
  position: absolute;
  left: -800px;
  top: 60px;
  opacity: 0;
  transition: all 0.8s;
}

.test-button:active:after{
  top: 0;
  left: 0;
  opacity: 1;
  transition: 0;
}

.button{
  width: 200px;
  padding: 20px;
  background: yellow;
  color: green;
  border-radius: 8px;
  outline: none;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 1px 10px 0 #8f9154;
}
.button:active{
  box-shadow: 1px 5px 0 #656633;
  transform: translateY(5px);
}